<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Library_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>lander.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegiServlet</display-name>
    <servlet-name>RegiServlet</servlet-name>
    <servlet-class>RegiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegiServlet</servlet-name>
    <url-pattern>/RegiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogiServlet</display-name>
    <servlet-name>LogiServlet</servlet-name>
    <servlet-class>LogiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogiServlet</servlet-name>
    <url-pattern>/LogiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViBookServlet</display-name>
    <servlet-name>ViBookServlet</servlet-name>
    <servlet-class>ViBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViBookServlet</servlet-name>
    <url-pattern>/ViBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViUsersServlet</display-name>
    <servlet-name>ViUsersServlet</servlet-name>
    <servlet-class>ViUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViUsersServlet</servlet-name>
    <url-pattern>/ViUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssBooksServlet</display-name>
    <servlet-name>IssBooksServlet</servlet-name>
    <servlet-class>IssBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssBooksServlet</servlet-name>
    <url-pattern>/IssBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssuedBooksServlet</display-name>
    <servlet-name>IssuedBooksServlet</servlet-name>
    <servlet-class>IssuedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssuedBooksServlet</servlet-name>
    <url-pattern>/IssuedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdBookServlet</display-name>
    <servlet-name>AdBookServlet</servlet-name>
    <servlet-class>AdBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdBookServlet</servlet-name>
    <url-pattern>/AdBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogiServlet</display-name>
    <servlet-name>AdminLogiServlet</servlet-name>
    <servlet-class>AdminLogiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogiServlet</servlet-name>
    <url-pattern>/AdminLogiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyBooksServlet</display-name>
    <servlet-name>MyBooksServlet</servlet-name>
    <servlet-class>MyBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyBooksServlet</servlet-name>
    <url-pattern>/MyBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileServlet</display-name>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/ProfileServlet</url-pattern>
  </servlet-mapping>
</web-app>